				*{margin:0 auto; padding:0;}

			.cuerpo {
 				background: url('https://get.wallhere.com/photo/1920x1200-px-blur-gaussian-1539045.jpg'); 
  				background-size: cover;
 				background-repeat: no-repeat;
				
				}

			.titulo1{
				color:Red;
				text-align:center
				}


			.BotonCliente{
					
				text-decoration: none;				
				padding: 10px;
				font-weight: 600;
				font-size: 20px;
				color: black;
				background-color: #e67300;
				border-radius: 6px;
				border: 2px solid #0016b0;
				
				}
			.Bloque1{
				
				}
			.Tabla1{
				
				text-align:center
				}

			.ParrafoCliente{
				
				background-color: #d57327;
				border-radius: 2px;		
				border: 2px solid #d57327;
				
				}

			.BotonAdmin{
					
				text-decoration: none;
				
				padding: 10px;
				font-weight: 600;
				font-size: 20px;
				color: black;
				background-color: #e67300;
				border-radius: 6px;
				border: 2px solid #0016b0;
				
				}

			.ParrafoAdmin{
				border-radius: 6px;
				background-color: #d57327;	
				border: 2px solid #d57327;
				
				}

			.ParrafoVolver{
				padding: 5px;
				background-color: #d57327;
				border-radius: 2px;		
				border: 2px solid #d57327;
				
				}


			.BotonVolver{
					
				text-decoration: none;
				
				padding: 10px;
				font-weight: 600;
				font-size: 20px;
				color: black;
				background-color: #e67300;
				border-radius: 6px;
				border: 2px solid #0016b0;

				}